<%- include('../partials/header2') %>

    <body id="page-top">
        <!-- Start of Page Wrapper -->
        <div id="wrapper">
            <!--sidebar-->
            <ul ide="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                    <div class="sidebar-brand-icon">
                        <i class="fa-solid fa-hospital"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">ASSYIFA<sup>STORE</sup>
                    </div>
                </a>
                <hr class="sidebar-divider my-0">

                <li class="nav-item">
                    <a class="nav-link" href="../../dashboard">
                        <i class="fa-solid fa-suitcase-medical"></i>
                        <span>DASHBOARD</span></a>
                </li>

                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    INTERFACE
                </div>
                <!--SALE-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSale"
                        aria-expanded="true" aria-controls="collapseSale">
                        <i class="fa-solid fa-scale-balanced"></i>
                        <span>SALE</span>
                    </a>
                    <div id="collapseSale" class="collapse" aria-labelledby="headingSale"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="../../sale/add">New
                                Sale</a>
                            <a class="collapse-item" href="../../sale/manage">Sale Management</a>

                        </div>
                    </div>
                </li>
                <% if (user.status=="Admin" ) { %>
                    <!--COSTUMER-->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCostumer"
                            aria-expanded="true" aria-controls="collapseCostumer">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            <span>COSTUMER</span>
                        </a>
                        <div id="collapseCostumer" class="collapse" aria-labelledby="headingCostumer"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="../../costumer/add">Add Costumer</a>
                                <a class="collapse-item" href="../../costumer/list">Costumer List</a>
                                <a class="collapse-item" href="../../costumer/credit" id="developmentprocess">Credit
                                    Costumer</a>
                                <a class="collapse-item" href="../../costumer/paid" id="developmentprocess">Paid
                                    Costumer</a>
                                <a class="collapse-item" href="../../costumer/ledger" id="developmentprocess">Costumer
                                    Ledger</a>
                                <a class="collapse-item" href="../../costumer/advancer" id="developmentprocess">Costumer
                                    Advancer</a>
                            </div>
                        </div>
                    </li>
                    <!--SUPPLIER-->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSupplier"
                            aria-expanded="true" aria-controls="collapseSupplier">
                            <i class="fa-solid fa-boxes-packing"></i>
                            <span>SUPPLIER</span>
                        </a>
                        <div id="collapseSupplier" class="collapse" aria-labelledby="headingSupplier"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="../../supplier/add">Add Supplier</a>
                                <a class="collapse-item" href="../../supplier/list">Supplier List</a>
                                <a class="collapse-item" href="../../supplier/ledger" id="developmentprocess">Supplier
                                    Ledger</a>
                                <a class="collapse-item" href="../../supplier/advancer" id="developmentprocess">Supplier
                                    Advancer</a>
                            </div>
                        </div>
                    </li>
                    <%}%>
                        <!--PRODUCT-->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
                                aria-expanded="true" aria-controls="collapseProduct">
                                <i class="fa-solid fa-pills"></i>
                                <span>PRODUCT</span>
                            </a>
                            <div id="collapseProduct" class="collapse" aria-labelledby="headingProduct"
                                data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <% if (user.status=="Admin" ) { %>
                                        <a class="collapse-item" href="../../product/addcategory">Add Category</a>
                                        <a class="collapse-item" href="../../product/categorylist">Category List</a>
                                        <a class="collapse-item" href="../../product/addunit">Add Unit</a>
                                        <a class="collapse-item" href="../../product/unitlist">Unit List</a>
                                        <a class="collapse-item" href="../../product/addstorage">Add Storage</a>
                                        <a class="collapse-item" href="../../product/storagelist">Storage List</a>
                                        <a class="collapse-item" href="../../product/addproduct">Add Product</a>
                                        <a class="collapse-item" href="../../../../product/productlist">Product List</a>
                                        <%}%>
                                            <a class="collapse-item" href="../../../../product/addproductvariant">Add
                                                Product
                                                Variant</a>
                                            <a class="collapse-item" href="../../product/manageproduct">Manage
                                                Product</a>
                                </div>
                            </div>
                        </li>
                        <!--PURCHASE-->
                        <li class="nav-item active">
                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePurchase"
                                aria-expanded="true" aria-controls="collapsePurchase">
                                <i class="fa-solid fa-cart-arrow-down"></i>
                                <span>PURCHASE</span>
                            </a>
                            <div id="collapsePurchase" class="collapse show" aria-labelledby="headingPurchase"
                                data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item active" href="../../purchase/add">Add Purchase-Stock</a>
                                    <a class="collapse-item" href="../../purchase/manage">Purchase Management</a>
                                </div>
                            </div>
                        </li>
                        <!--STOCK-->
                        <% if (user.status=="Admin" ) { %>
                            <li class="nav-item" id="developmentprocess">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#collapseStock" aria-expanded="true" aria-controls="collapseStock">
                                    <i class="fa-solid fa-list"></i>
                                    <span>STOCK</span>
                                </a>
                                <div id="collapseStock" class="collapse" aria-labelledby="headingStock"
                                    data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" href="../../stock">Stock Report</a>
                                    </div>
                                </div>
                            </li>
                            <!--ACCOUNT-->
                            <li class="nav-item" id="developmentprocess">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#collapseAccount" aria-expanded="true" aria-controls="collapseAccount">
                                    <i class="fa-solid fa-money-bill-wave"></i>
                                    <span>ACCOUNTS</span>
                                </a>
                                <div id="collapseAccount" class="collapse" aria-labelledby="headingAccount"
                                    data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" href="../../account/chart">Chart of Account</a>
                                        <a class="collapse-item" href="../../account/openingbalance">Opening Balance</a>
                                        <a class="collapse-item" href="../../account/supplierpayment">Supplier
                                            Payment</a>
                                        <a class="collapse-item" href="../../account/costumerreceive">Costumer
                                            Receive</a>
                                        <a class="collapse-item" href="../../account/cashadjusment">Cash Adjusment</a>
                                        <a class="collapse-item" href="../../account/debitvoucher">Debit Voucher</a>
                                        <a class="collapse-item" href="../../account/creditvoucher">Credit Voucher</a>
                                        <a class="collapse-item" href="../../account/contravoucher">Contra Voucher</a>
                                        <a class="collapse-item" href="../../account/journalvoucher">Journal Voucher</a>
                                    </div>
                                </div>
                            </li>
                            <hr class="sidebar-divider">

                            <!--USER-->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                    data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
                                    <i class="fa-solid fa-money-bill-wave"></i>
                                    <span>USER</span>
                                </a>
                                <div id="collapseReport" class="collapse" aria-labelledby="headingReport"
                                    data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <a class="collapse-item" href="../../user/add">Add User</a>
                                        <a class="collapse-item" href="../../user/list">User List</a>
                                        <a class="collapse-item" id="developmentprocess"
                                            href="../../user/submiterror">Submit
                                            Error</a>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                                <hr class="sidebar-divider d-none d-md-block">
                                <div class="text-center d-none d-md-inline">
                                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                                </div>
            </ul>
            <!-- Start of Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!--topbar-->
                    <%- include('../partials/topbar') %>
                        <!-- End of Topbar -->
                        <!-- Begin Page Content -->
                        <div class="container-fluid" style="margin-top: 20px ;">
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h5 class="m-0 font-weight-bold text-primary" style="text-align:center ;">
                                                ADD PURCHASE TRANSACTION - UPDATE STOCK</h5>
                                        </div>
                                        <div class="card-body">
                                            <form class="row g-3" id="start-form">
                                                <div class="col-md-6">
                                                    <label for="no_invoice" class="form-label">No.
                                                        Invoice</label>
                                                    <input type="text" class="form-control" id="no_invoice" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="variantDate" class="form-label">Date</label>
                                                    <input type="text" class="form-control" id="variantDate"
                                                        value="<%= moment(purchaseTransaction.date).format('DD MMM YYYY hh:mm:ss') %>"
                                                        readonly>
                                                </div>
                                            </form>
                                            <form class="row g-3" id="detail-form">
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="product_name" class="form-label">Product
                                                        Name</label>
                                                    <input type="text" class="form-control" id="product_name"
                                                        name="product_name" readonly>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="storage_name" class="form-label">Storage</label>
                                                    <input type="text" class="form-control" id="storage_name"
                                                        name="storage_name" readonly>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="idvariant" class="form-label">Variant
                                                        ID</label>
                                                    <select ID="idvariant" id="idvariant" class="form-control" required>
                                                        <option value="" disabled selected> Choose ...</option>
                                                        <% product_variant.forEach ((item, index)=> {%>
                                                            <option value="<%= item.idvariant %>">
                                                                <%= item.idvariant + " - " + item.product_name + " - " +
                                                                    item.name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="supplier_name" class="form-label">Variant
                                                        Supplier</label>
                                                    <input type="text" class="form-control" id="supplier_name"
                                                        name="supplier_name" readonly>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="category_name" class="form-label">Variant
                                                        Category</label>
                                                    <input type="text" class="form-control" id="category_name"
                                                        name="category_name" readonly>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="price" class="form-label">Variant Supplier
                                                        Price</label>
                                                    <input type="text" class="form-control" id="price" name="price"
                                                        readonly>
                                                </div>
                                                <div class="col-md-3" style="margin-top:15px ;">
                                                    <label for="qty" class="form-label">Qty.</label>
                                                    <input type="text" class="form-control" id="qty" name="qty"
                                                        required>
                                                </div>
                                                <div class="col-md-3" style="margin-top:15px ;">
                                                    <label for="unit_name" class="form-label">Variant
                                                        Unit</label>
                                                    <input type="text" class="form-control" id="unit_name"
                                                        name="unit_name" readonly>
                                                </div>
                                                <div class="col-md-6" style="margin-top:15px ;">
                                                    <label for="total_price_item" class="form-label">Total
                                                        Price</label>
                                                    <input type="text" class="form-control" id="total_price_item">
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px; margin-bottom: 20px;">
                                                    <label for="remarks" class="form-label">Variant
                                                        Remarks</label>
                                                    <input type="text" class="form-control" id="remarks" name="remarks"
                                                        readonly>
                                                </div>
                                                <div class="col-12">
                                                    <button type="reset" class="btn btn-warning">RESET</button>
                                                    <button type="submit" class="btn btn-primary"
                                                        style="float:right ;">ADD</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <table id="detail-table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>ID Variant</th>
                                                        <th>Variant Name</th>
                                                        <th>Qty</th>
                                                        <th>Supplier Price</th>
                                                        <th>Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                            <a href="../manage">
                                                <button type="submit" class="btn btn-primary" style="float:right ;"
                                                    onclick="success()">SUBMIT</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End Content Row -->
                        </div>
                        <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script>
                    let no_invoice = '<%= purchaseTransaction.no_invoice %>';
                    let idpurchase = '<%= purchaseTransaction.id %>'
                    function success() {
                        alert("Transaction Success! Please Check 'Purchase Management'");
                    }
                    $(document).ready(function () {
                        readDetails()
                        $('#idvariant').change(function () {
                            const idvariant = $(this).val()
                            $.get(`/purchase/product_variant/${idvariant}`).done(function (data) {
                                $('#product_name').val(data.product_name)
                                $('#storage_name').val(data.storage_name)
                                $('#supplier_name').val(data.supplier_name)
                                $('#category_name').val(data.category_name)
                                $('#price').val(data.supplier_price)
                                $('#qty').val(1)
                                $('#unit_name').val(data.unit_name)
                                $('#total_price_item').val(data.supplier_price)
                                $('#remarks').val(data.remarks)
                            })
                        })
                        $('#qty').keyup(function () {
                            const qty = $(this).val()
                            const price = parseInt($('#price').val())
                            $('#total_price_item').val(price * qty)
                        })
                        $('#detail-form').submit(function (e) {
                            e.preventDefault();
                            const no_invoice = $('#no_invoice').val()
                            const idvariant = $('#idvariant').val()
                            const qty = $('#qty').val()
                            const total_price = $('#total_price_item').val()
                            const idsupplier = $('#supplier_name').val()
                            const idstorage = $('#storage_name').val()
                            $.post('/purchase/additem', { idpurchase, no_invoice, idvariant, qty, total_price, idsupplier, idstorage }).done(function (data) {
                                readDetails()
                                $('#total_price').val(data.total_price)
                            })
                        })
                    })
                    const readDetails = () => {
                        $.get(`/purchase/details/${idpurchase}`).done(function (data) {
                            console.log('cek', data)
                            let html = ''
                            data.forEach((item, index) => {
                                html += `
                                <tr>
                                    <td>
                                        ${index + 1}
                                    </td>
                                    <td>
                                        ${item.idvariant}
                                    </td>
                                    <td>
                                        ${item.name}
                                    </td>
                                    <td class="right-position">
                                        ${item.qty}
                                    </td>
                                    <td class="right-position">
                                        ${currencyFormatter.format(item.price)}
                                    </td>
                                    <td class="right-position">
                                        ${currencyFormatter.format(item.total_price)}
                                    </td>
                                </tr>`
                            })
                            $('#detail-table tbody').html(html)
                        })
                    }
                </script>
                <!-- Footer -->
                <%- include('../partials/footer2') %>